/*index.php*/
*{ margin: 0;}
body{
    background:#F5F6F9;
    font-family: 'Pretendard';
    line-height: 24px !important;
    font-size: 16px !important;
}
#top{
    width: 100%;
    height: 53px;
    margin-top: 160px;
 
}
h2{
    width: 500px;
    float: left;
  
    font-size: 37.9px;
    font-weight: 700;
    line-height: 53.06px;
    font-family: 'Pretendard';
    padding-bottom: 32px;
}

#home{
    float: right;
    margin-top: 5px;
}
#home img{
    width: 42px;
}
#logtext{
    line-height: 53px;
    float: right;
    margin-right: 10px;

 
 }

button{
    font-size: 16px !important;
    line-height: 150%;
    margin: 0px;
    

}
#wrap{
    width: 450px;
    height: 500px;
    margin: auto;
   
    padding-top: 160px;
  
}
#user, #pass, #send{
    width: 430px;
    height: 60px;
    margin-top: 10px ;
    padding:5px;
   
}
#user, #pass{
    border-radius: 5px;
    border:1px solid rgba(137, 137, 137, 0.3);
}
.error{
    color:#F65633;
}



#logo1{
    width: 300px;
    margin: auto;
    
}


#logo1 img{
    width: 100%;
    /* margin-top: 240px; */
}

#form-login{
    margin: 0px 0px 50px 0px;
    width: 100%;

}
#logoSimg{
    width: 200px;
    margin: auto;
   
    
}
#logoSimg img{
    width: 100%;
    margin-top:50px;
}





/* list.php */
.btnfix{
    width: 102px;
    height: 42px;
    font-size: 16px;
    font-weight: 600;
}

#listaction{
    width: 100%;
    height: 42px;
    margin-top: 32px;
   
   
   
}


#numofresult{           /* search page only */
    width: 200px;
    float:left;
    height: 40px;
    background: #00B247;
}



#right{
    
   float: right;
  
   margin-bottom: 10px;
    
}
#add-right{
    
    float:right;
    margin-bottom: 10px;
}
#top-right{
    width: 200px;
    float:right;
}

#btnaction{
    float: left;
    margin-right: 12px;
   
}
#btndelete{
    background:#F32C00;
    color: #fff;
    width: 102px;
    height: 42px;
    margin-right: 10px;
}

#btnadd{
    background:#00B247;
    width: 102px;
    height: 42px;
    margin-right: 10px;
    
}
#btndownload{
    margin-right: 2px;
    width: 102px;
    height: 42px;

}

#btnSearch{
    border:0px;
    background:none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    float:right;
}

#btnSearch img{
    width: 41px;
    height: 42;
    position: relative;
    top: -2px;
    left: -5px;
}

#right form {
    float: right;
   
 
}
#searchoption{
    background:#000;
    width: 102px;
    height: 42px;
    border-radius: 6px;
    float: left;
    margin-right: 12px;

}
#txtSearch{
    width: 235px;
    height: 42px;
    border: 1px #898989 solid ;
    float: right;
    border-radius: 5px;
    position: relative;
    left: 1px;
    
}


#txtSearch option{
    color:#fff;
}
#right form select{
    color:#fff;
    border:0px;
    height: 42px;
    padding:0px 10px;
}


/* main */
#main{
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}
.firstcol{
    width: 100px;
}

tbody tr{
    line-height: 52px;
 
}

a{
    text-decoration: none;
}

/* paging */

#paging-left{
    border-radius: 5px 0px 0px 5px;
    
}

.first-line{
    height: 32px !important;
}



  tr{
    background: #fff;
  }
 
/* list page */
.listcol{
    width: 14%;
    
  }


#messagebox{
background: red;
}

/*authority */
#row1, #row2, #row3, #row4{
    display: none !important; 
    background:#00B247 !important ;
  }



.checklist{
    position: relative;
    left:-20px;
}
.checkitem{
    position: relative;
   top:13px;
   left:-20px;
}


/* add page */

/* import */
#importform{
    margin: auto;
    width: 440px;
    min-height: 100px;
    padding-bottom: 20px;
    
}
#importfile{
    line-height: 36px;
   
    
    
}
#btnimport{
    width:112px;
    height: 42px;
    margin-top: 20px;
    position: relative;
    top: -6px;
    
}
#boxcontainer{
    margin-top: 32px;
}
